<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/4b3d0359-9e3b-4a16-ab8c-c3f872bc4f52/resourceGroups/SpyderByteAPI-ResourceGroup/providers/Microsoft.Web/sites/SpyderByteAPI-AppService</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spyderbyteapi-appservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>43e1b50c-fb61-427f-a2fa-9caf076033c1</ProjectGuid>
    <publishUrl>ftps://waws-prod-blu-343.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>SpyderByteAPI-AppService\$SpyderByteAPI-AppService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>